#history {
    background-color: #343434;
    width: 90%;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
    overflow: scroll;
}

#history p {
    user-select: text;
}