@import url("fonts/Roboto.css");

* {
    font-family: "Roboto";
    font-weight: 200;
    text-align: center;
    margin: 0;
    border: 0;
    padding: 0;
    outline: 0px;
    transition: all .3s;
    user-select: none;
}

:root { --microtip-transition-easing: ease-in-out; }

::-webkit-scrollbar { width: 0; }
::-webkit-scrollbar-track { background: #2f3129; }

::-webkit-scrollbar-thumb {
    background: #ffde59;
    border-radius: 5px;
}

::-webkit-scrollbar:horizontal { height: 5px; }
::-webkit-scrollbar-track:horizontal { background: #2f3129; }

::-webkit-scrollbar-thumb:horizontal {
    background: #ffde59;
    border-radius: 5px;
}

::-webkit-scrollbar-corner { background: #2f3129; }

::selection {
    background-color: #a3b2e0;
    color: #343434;
}

body { color: #d3d3d3; }
h1, h2, h3, h4, h5, h6, p { padding: 10px; }
table { margin: auto; }
tbody { padding: 20px; }
input[type="number"]::-webkit-inner-spin-button { -webkit-appearance: none; }
button, a { cursor: pointer; }

a {
    color: royalblue;
    text-decoration: none;
}

ul { margin-left: 50px; }
li { text-align: left; }

#top-bar {
    position: fixed;
    top: 0;
    left: 30px;
    right: 0;
    display: flex;
    z-index: 999999;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    border-radius: 0 10px 0 0;
    background: #272727;
    -webkit-app-region: drag;
}

#top-bar > div {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#top-bar p {
    padding: 5px;
    font-size: 10px;
    letter-spacing: 3px;
}

#close-btn { border-radius: 0 10px 0 0; }
#close-btn:hover { background-color: firebrick; }

#menu-bar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 999999;
    width: 30px;
    border-radius: 10px 0 0 10px;
    background: #272727;
    -webkit-app-region: drag;
}

#home-btn { border-radius: 10px 0 5px 0; }

#pin-btn {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 999999;
    border-radius: 0 5px 0 10px;
}

#version {
    background-color: #111111;
    position: fixed;
    font-size: 10px;
    bottom: 0;
    right: 0;
    margin: 10px;
    padding: 5px;
    border-radius: 10vh;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
    z-index: 1;
}

#notification {
    position: fixed;
    background-color: #222222;
    color: #d3d3d3;
    opacity: 0;
    bottom: 0;
    right: 0;
    width: 66%;
    height: 0%;
    margin: 7.5px;
    padding: 20px;
    z-index: 1000000;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
    transition: all .5s;
}

#notification-title {
    font-size: 35px;
    font-weight: bold;
}

#notification p { padding: 10px; }

#notification-button1 {
    background-color: #6934d3;
    color: #d3d3d3;
    margin: 5px;
    padding: 10px;
    border-radius: 10vh;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
    transition: all .3s ease-in-out;
}

#notification-button1:hover { transform: translateY(-2px); }

#notification-button2 {
    background-color: #6934d3;
    color: #d3d3d3;
    margin: 5px;
    padding: 10px;
    border-radius: 10vh;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
    transition: all .3s ease-in-out;
}

#notification-button2:hover { transform: translateY(-2px); }

#scroll-container {
    position: fixed;
    top: 30px;
    left: 30px;
    right: 0;
    z-index: 999999;
    width: 100%;
    height: 2.5px;
}

#scroll-bar {
    background-image: linear-gradient(to right,#272727, #ffde59);
    width: 0%;
    height: 2.5px;
    border-radius: 5px;
}

.topbar-btn {
    background-color: #272727;
    color: #d3d3d3;
    width: 30px;
    height: 30px;
    -webkit-app-region: no-drag;
}

.topbar-btn:hover { background-color: #343434; }

.menubar-btn {
    background-color: #272727;
    color: #d3d3d3;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 0 5px 5px 0;
    -webkit-app-region: no-drag;
}

.menubar-btn:hover { background-color: #343434; }
.menubar-btn.active { background-color: rgb(55, 161, 91); }

.main {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -999999;
    background-color: #2f3129;
    width: 100vw;
    height: 100vh;
    border-radius: 10px;
}

.root {
    color: #d3d3d3;
    margin-top: 30px;
    margin-left: 30px;
    padding: 20px;
    height: 90vh;
    overflow: scroll;
}

.btn {
    background-color: #ffde59;
    color: #343434;
    margin: 5px;
    padding: 10px;
    border-radius: 10vh;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
    transition: all .3s ease-in-out;
}

.btn:hover { transform: translateY(2px); }
.hidden { display: none; }

.big-btn {
    display: inline-block;
    background-color: #ffde59;
    color: #343434;
    font-weight: bold;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
    transition: all .5s ease-in-out;
}

.big-btn:hover {
    box-shadow: none;
    transform: scale(.95) rotate(-32deg);
}