@import url("fonts/Roboto.css");

* {
    font-family: "Roboto";
    font-weight: 200;
    text-align: center;
    margin: 0;
    border: 0;
    padding: 0;
    transition: all .3s;
    user-select: none;
}

::-webkit-scrollbar {
    width: 2.5px;
}

::-webkit-scrollbar-track {
    background: #2f3129;
}

::-webkit-scrollbar-thumb {
    background: #ffde59;
    border-radius: 5px;
}

::-webkit-scrollbar:horizontal {
    height: 2.5px;
}

::-webkit-scrollbar-track:horizontal {
    background: #2f3129;
}

::-webkit-scrollbar-thumb:horizontal {
    background: #ffde59;
    border-radius: 5px;
}

::-webkit-scrollbar-corner {
    background: #2f3129;
}

body {
    background-color: #2f3129;
    color: #d3d3d3;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 10px;
}

table {
    margin: auto;
}

tbody {
    padding: 20px;
}

input:focus {
    outline: 0px;
}

button, a {
    cursor: pointer;
}

#top-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    z-index: 999999;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    background: #272727;
    -webkit-app-region: drag;
}

#top-bar > div {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#top-bar p {
    padding: 5px;
    font-size: 10px;
    letter-spacing: 3px;
}

#close-btn:hover {
    background-color: firebrick;
}

#menu-bar {
    position: fixed;
    top: 30px;
    left: 0;
    bottom: 0;
    z-index: 999999;
    width: 30px;
    background: #272727;
    -webkit-app-region: drag;
}

#pin-btn.pinned {
    background-color: #42ff4b;
}

#box {
    background-color: #d3d3d3;
    color: #343434;
    font-size: 20px;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 66%;
    height: 25px;
    overflow-x: auto;
    overflow-y: hidden;
    user-select: text;
}

#box.selected {
    background-color: #a3b2e0;
}

#last-calculation {
    background-color: #d3d3d394;
    color: #343434;
    font-size: 15px;
    margin: auto;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 66%;
    height: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    user-select: text;
}

#version {
    position: fixed;
    text-align: right;
    font-size: 10px;
    bottom: 0;
    right: 0;
    margin: 10px;
    z-index: 1;
}

#notification {
    display: none;
    opacity: 0;
    position: fixed;
    background-color: #222222;
    color: #d3d3d3;
    bottom: 0;
    right: 0;
    width: 33%;
    margin: 7.5px;
    padding: 20px;
    z-index: 10;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition: opacity .5s;
}

#notification-title {
    font-size: 35px;
    font-weight: bold;
}

#notification p {
    padding: 10px;
}

#notification-button1 {
    display: none;
    opacity: 0;
    background-color: #6934d3;
    color: #d3d3d3;
    padding: 10px;
    border-radius: 10vh;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#notification-button2 {
    display: none;
    opacity: 0;
    background-color: #6934d3;
    color: #d3d3d3;
    padding: 10px;
    border-radius: 10vh;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.topbar-btn {
    background-color: #272727;
    color: #d3d3d3;
    width: 30px;
    height: 30px;
    -webkit-app-region: no-drag;
}

.topbar-btn:hover {
    background-color: #343434;
}

.menubar-btn {
    background-color: #272727;
    color: #d3d3d3;
    display: block;
    width: 30px;
    height: 30px;
    -webkit-app-region: no-drag;
}

.menubar-btn:hover {
    background-color: #343434;
}

.container {
    margin-top: 30px;
    padding: 20px;
}

.cal-btn {
    background-color: tomato;
    color: #343434;
    font-weight: bold;
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition: all .2s ease-in-out;
}

.cal-btn:hover {
    box-shadow: none;
    transform: scale(.95);
}

.cal-btn-symbol {
    background-color: #ffde59;
    color: #343434;
    font-weight: bold;
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition: all .2s ease-in-out;
}

.cal-btn-symbol:hover {
    box-shadow: none;
    transform: scale(.95);
}

.cal-btn-operation {
    background-color: palegreen;
    color: #343434;
    font-weight: bold;
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition: all .2s ease-in-out;
}

.cal-btn-operation:hover {
    box-shadow: none;
    transform: scale(.95);
}

.cal-btn-constant {
    background-color: #f28500;
    color: #343434;
    font-weight: bold;
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition: all .2s ease-in-out;
}

.cal-btn-constant:hover {
    box-shadow: none;
    transform: scale(.95);
}

.cal-btn-function {
    background-color: #9867c5;
    color: #343434;
    font-weight: bold;
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition: all .2s ease-in-out;
}

.cal-btn-function:hover {
    box-shadow: none;
    transform: scale(.95);
}

.cal-btn-equals {
    background-color: royalblue;
    color: #d3d3d3;
    font-weight: bold;
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition: all .2s ease-in-out;
}

.cal-btn-equals:hover {
    box-shadow: none;
    transform: scale(.95);
}

.cal-btn-clear {
    background-color: aqua;
    color: #343434;
    font-weight: bold;
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition: all .2s ease-in-out;
}

.cal-btn-clear:hover {
    box-shadow: none;
    transform: scale(.95);
}